<!-- supplier-register.component.html -->

<div>
    <h1>NUEVO PROVEEDOR</h1>
  
    <!-- Formulario de registro -->
    <form (ngSubmit)="registerSupplier()">
      <div>
        <label for="supplierId" id="labelSupplierId">DNI:</label>
        <input type="text" id="supplierId" name="supplierId" [(ngModel)]="supplier.dni" required>
      </div>
      <br>
      <div>
        <label for="supplierName" id="labelSupplierName">Nombre:</label>
        <input type="text" id="supplierName" name="supplierName" [(ngModel)]="supplier.name" required>
      </div>
      <br>
      <div>
        <label for="supplierAddress" id="labelSupplierAddress">Dirección:</label>
        <input type="text" id="supplierAddress" name="supplierAddress" [(ngModel)]="supplier.address" required>
      </div>
      <br>
      <div>
        <label for="supplierPhone" id="labelSupplierPhone">Teléfono:</label>
        <input type="text" id="supplierPhone" name="supplierPhone" [(ngModel)]="supplier.phone" required>
      </div>
      <br>
      <button id="btnSubmitSupplier" type="submit">Registrar</button>
    </form>
    <br>
    <div>
      <button routerLink="/supplier-options">Atrás</button>
    </div>
  </div>