<!-- customer-register.component.html -->

<div>
    <h1>Nuevo Cliente</h1>
  
    <!-- Formulario de registro -->
    <form (ngSubmit)="registerCustomer()">
      <div>
        <label for="customerNif" id="labelCustomerNif">DNI:</label>
        <input type="text" id="customerNif" name="customerNif" [(ngModel)]="customer.dni" required>
      </div>
      <br>
      <div>
        <label for="customerName" id="labelCustomerName">Nombre:</label>
        <input type="text" id="customerName" name="customerName" [(ngModel)]="customer.name" required>
      </div>
      <br>
      <div>
        <label for="customerAddress" id="labelCustomerAddress">Dirección:</label>
        <input type="text" id="customerAddress" name="customerAddress" [(ngModel)]="customer.address" required>
      </div>
      <br>
      <div>
        <label for="customerPhone" id="labelCustomerPhone">Teléfono:</label>
        <input type="text" id="customerPhone" name="customerPhone" [(ngModel)]="customer.phone" required>
      </div>
      <br>
      <button id="btnSubmitCustomer" type="submit">Registrar</button>
    </form>
    <br>
    <div>
      <button routerLink="/customer-options">Atrás</button>
    </div>
</div>
  
