<!-- customer-register.component.html -->

<div>
    <h1>NUEVO CLIENTE</h1>
  
    <!-- Formulario de registro -->
    <form (ngSubmit)="registerCustomer()">
      <div>
        <label for="customerId">DNI:</label>
        <input type="text" id="customerId" name="customerId" [(ngModel)]="customer.id" required>
      </div>
      <br>
      <div>
        <label for="customerName">Nombre:</label>
        <input type="text" id="customerName" name="customerName" [(ngModel)]="customer.name" required>
      </div>
      <br>
      <div>
        <label for="customerAddress">Dirección:</label>
        <input type="text" id="customerAddress" name="customerAddress" [(ngModel)]="customer.address" required>
      </div>
      <br>
      <div>
        <label for="customerPhone">Teléfono:</label>
        <input type="text" id="customerPhone" name="customerPhone" [(ngModel)]="customer.phone" required>
      </div>
      <br>
      <button type="submit">Registrar</button>
    </form>
    <br>
    <div>
      <button routerLink="/customer-options">Atrás</button>
    </div>
</div>
  
