<div>
    <h1>Lista de tareas</h1>
    <input type="text" placeholder="Añade una nueva tarea" [(ngModel)]="newTask">
    <button (click)="addTask()">Añadir</button>
    <!-- Lista de tareas -->
    <ul>
      <li *ngFor="let item of taskItems">
        <input type="checkbox" [(ngModel)]="item.completed" (change)="markAsCompleted(item)">
        <span [class.completed]="item.completed">{{ item.task }}</span>
      </li>
    </ul>

    <!-- Botón para eliminar tareas completadas -->
    <button (click)="removeSelectedTasks()">Eliminar</button>
    <br><br>
    <div>
      <!-- Botón que nos redirigirá al formulario de registro -->
      <!-- <button [routerLink]="['/customer-register']">Registrar Cliente</button> -->
      <button routerLink="/customer-register">Registrar Cliente</button>
    </div>
</div>
  
