  <div *ngIf="customer">
    <h1>Detalles del Cliente</h1>
    <br><br>
    <div>
      <label>ID:</label>
      <input type="text" [(ngModel)]="customer.id" disabled>
    </div>
    <br>
    <div>
      <label>DNI:</label>
      <input type="text" [(ngModel)]="customer.dni" disabled>
    </div>
    <br>
    <div>
      <label>Nombre:</label>
      <input type="text" [(ngModel)]="customer.nombre">
    </div>
    <br>
    <div>
      <label>Dirección:</label>
      <input type="text" [(ngModel)]="customer.direccion">
    </div>
    <br>
    <div>
      <label>Teléfono:</label>
      <input type="text" [(ngModel)]="customer.telefono">
    </div>
    <br><br><br>
    <div>
      <button (click)="deleteCustomer()">Eliminar</button>
    </div>
    <br>
    <div>
        <button (click)="updateCustomer()">Modificar</button>
    </div>
    <br>
    <div>
        <button routerLink='/customers-list'>Atrás</button>
    </div>
  </div>
